body { 
	margin:0; 
	padding:0; 
}
h1, h2, h3, h4, h5, h6 {
	color: #555;
}
input[type=checkbox]:hover {
	cursor: pointer;
}
#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}
#loader {
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	position: fixed;
	background: transparent;
	transform: translate(-50%, -50%);
}
.toolbar {
	position: fixed;
	background: #f8f8f8;
	width: 300px;
	border-radius: 5px;
	max-height: 50vh;
	display: block;
	margin: 2vw;
	box-shadow: -5px 6px 2px 0px rgba(0, 0, 0, 0.25);
	overflow-y: scroll;
}
.toolbar-label {
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	padding: 0.5rem 1rem 0;
}
.toolbar-subservices-list {
	margin: 0;
	padding: 0;
}
.card-header:hover,
.card-header:active {
	cursor: pointer;
	background: #f1f1f1;
}
.building-name {
	font-size: 16px;
}
.button {
	border-radius: 5px;
	background: #c5050c;
	color: white;
	font-size: 16px;
	padding: 3px 5px;
}
.dropdown {
	margin-bottom: 10px;
}
.dropdown:hover {
	cursor: pointer;
}
.dropdown > .dropdown-items {
	opacity: 0;
	display: none;
	transition: opacity 1s ease-in-out;
}
.dropdown.active > .dropdown-items {
	opacity: 1;
	display: block;
}
.fpm-popup-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	justify-content: space-evenly;
}
.fpm-popup {
	margin: 5px;
	padding: 5px;
	border: 3px solid #c1c1c1;
	border-radius: 7px;
	width: 150px;
}
.popup-title {
	font-size: 16px;
}
.sidebar {
	position: fixed;
	top: 0;
	width: 400px;
	height: 100%;
	background: white;
	z-index: 2;
	border-left: 1px solid black;
	transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
	box-shadow: -3px 0px 3px 0px #cacaca;
}
[data-state-open="true"] {
	right: 0;
}
[data-state-open="false"] {
	right: -400px;
}
.sidebar-header {
	position: relative;
	min-height: 250px;
}
.sidebar-header-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.sidebar-header-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.33);
	top: 0;
	left: 0;
}
.sidebar-header-text {
	color: white;
	position: absolute;
	width: 95%;
	top: 50%;
	left: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	transform: translate(-50%, -50%);
}
.sidebar-tab {
	position: absolute;
	bottom: 1rem;
	left: -30px;
	height: 50px;
	width: 30px;
	background: white;
	border-radius: 7px;
	border: 1px solid black;
	z-index: 1;
	cursor: pointer;
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: -6px 0px 6px 0px #cacaca;
}
.services {
	padding: 1rem;
}
.loading-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.loading-text {
  vertical-align: super;
  padding-right: 1rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.message-container {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}